body {
  background: #f6f6f6;
  width: 100%;
  height: 100%;
}
.mainPart ul {
  width: 100%;
  height: auto;
}
.mainPart ul li {
  height: 2.15466667rem;
  width: 100%;
  background: #fff;
  display: flex;
}
.mainPart ul li .leftPicture {
  height: 2.13333333rem;
  width: 13%;
  display: flex;
}
.mainPart ul li .leftPicture img {
  height: 1.024rem;
  width: 1.10933333rem;
  align-self: center;
  margin-left: 50%;
}
.mainPart ul li a {
  width: 87%;
  height: 2.13333333rem;
  border-bottom: 0.02133333rem solid #e2e2e2;
  display: flex;
}
.mainPart ul li a span {
  font-size: 0.55466667rem;
  color: #666;
  line-height: 2.13333333rem;
  margin-left: 5.2%;
}
.mainPart ul li a .rightPicture {
  width: 0.36266667rem;
  height: 0.61866667rem;
  align-self: center;
  position: absolute;
  right: 4.5%;
}
.footPart {
  position: fixed;
  bottom: 0;
  height: 3.05066667rem;
  width: 100%;
  background: url(../../img/teller-img/images/footer.png) no-repeat 0 0;
  background-size: cover;
}
.footPart a {
  font-size: 0.512rem;
  line-height: 3.84rem;
  text-align: center;
  display: block;
  width: 100%;
  height: 3.05066667rem;
  color: indianred;
}
